* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif; }
  * a {
    text-decoration: none; }

header h1 {
  font-weight: 400; }

.navbar-brand {
  font-size: 25px; }

.headerBoot {
  box-shadow: 0px 2px 3px; }

footer {
  color: #ffffff;
  height: auto;
  background-color: #14274E; }
  footer p {
    font-size: 0.6em;
    height: 2rem;
    margin-top: 10px;
    margin-bottom: 0; }
  footer li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 35px;
    margin-top: 1.5rem; }
    footer li a {
      color: #ffffff; }
  footer i:hover {
    color: #bdbebb; }

@media screen and (max-width: 576px) {
  footer li {
    margin: 0px 15px;
    margin-top: 1.5rem;
    display: inline-block;
    list-style-type: none; } }

#noticias {
  background-color: #ffffff; }
  #noticias h2 {
    font-weight: 400;
    font-size: 2.3rem;
    color: #000000;
    margin: 20px  auto;
    margin-bottom: 0; }
  #noticias p {
    color: #858781;
    font-size: 0.625em;
    font-weight: 400; }
  #noticias a {
    font-size: 0.625em;
    color: #9A031E; }
  #noticias .noticia1 {
    margin-top: 30px;
    margin-bottom: 20px; }
  #noticias .textoNoticia1 h3 {
    color: #000000;
    font-size: 1.25em;
    font-weight: 400;
    width: 26.938rem;
    height: 5.5rem; }
  #noticias .textoNoticia1 p {
    width: 23rem;
    height: 2.938rem;
    margin-left: 60px; }
  #noticias .textoNoticia1 a {
    margin-left: 60px; }
  #noticias .textoNoticia2 h3 {
    color: #000000;
    font-size: 1.875rem;
    font-weight: 400;
    width: 30.063rem;
    height: 2.688rem;
    margin: 0;
    margin-top: 94px; }
  #noticias .textoNoticia2 p {
    width: 19.688rem;
    height: 4.3rem;
    text-align: right;
    margin-top: 30px;
    margin-left: 115px; }
  #noticias .textoNoticia2 a {
    margin-top: 45px;
    margin-left: 372px; }
  #noticias .noticia3 {
    margin-top: 20px;
    margin-bottom: 30px; }
    #noticias .noticia3 h3 {
      color: #000000;
      font-size: 1.875rem;
      font-weight: 400;
      width: 19.688rem;
      height: 2.688rem;
      margin: 0;
      margin-top: 68px; }
    #noticias .noticia3 p {
      width: 19rem;
      height: 2.938rem;
      margin-left: 60px;
      margin-top: 20px; }
    #noticias .noticia3 a {
      margin-left: 60px;
      margin-top: 20px; }
  #noticias .fotoNoticia1 {
    width: 26.875rem;
    height: 13.313rem;
    margin-left: 110px;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  #noticias .fotoNoticia2 {
    width: 304px;
    height: 380px;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  #noticias .fotoNoticia3 {
    width: 26.906rem;
    height: 17.875rem;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }

.divisorYt {
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 30px; }
  .divisorYt iframe {
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  .divisorYt p {
    font-size: 0.8em;
    margin-top: 30px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .textoNoticia1 h3 {
    font-size: 1.25em;
    font-weight: 400;
    width: 26.938rem;
    height: 5.5rem; }
  .textoNoticia1 p {
    width: 23rem;
    height: 2.938rem;
    margin-left: 30px; }
  .textoNoticia1 a {
    margin-left: 30px; }
  .fotoNoticia1 {
    width: 26.875rem;
    height: 13.313rem;
    margin-left: 0px !important;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  .textoNoticia2 h3 {
    font-size: 1.5rem !important;
    font-weight: 400;
    width: 25rem;
    height: 3.5rem;
    margin: 0;
    margin-top: 30px; }
  .textoNoticia2 p {
    width: 19.688rem;
    height: 4.3rem;
    text-align: right;
    margin-top: 30px;
    margin-left: 115px; }
  .textoNoticia2 a {
    margin-top: 45px;
    margin-left: 372px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .textoNoticia1 h3 {
    font-size: 1em !important;
    width: 22rem !important;
    height: auto; }
  .textoNoticia1 p {
    width: 20rem !important;
    height: auto !important;
    margin-left: 20px !important; }
  .textoNoticia1 a {
    margin-left: 20px !important; }
  .fotoNoticia1 {
    width: 100% !important;
    height: auto !important;
    margin-left: 0px !important; }
  .textoNoticia2 h3 {
    width: 20rem !important;
    height: 3rem !important;
    margin: 0;
    margin-top: 94px; }
  .textoNoticia2 p {
    width: 20rem;
    height: 6rem;
    text-align: left !important;
    margin-left: 0px !important; }
  .textoNoticia2 a {
    margin-top: 45px;
    margin-left: 0px !important; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .textoNoticia1 {
    margin-top: 30px !important; }
    .textoNoticia1 h3 {
      color: #000000;
      font-size: 1em;
      font-weight: 400;
      width: 26.938rem;
      height: 5.5rem;
      margin-left: 60px !important; }
    .textoNoticia1 p {
      width: 23rem;
      height: 2.938rem;
      margin-left: 60px !important;
      margin-top: 20px; }
    .textoNoticia1 a {
      margin-left: 60px !important; }
  .fotoNoticia1 {
    width: 100% !important;
    height: auto !important;
    margin-left: 0px !important; }
  .textoNoticia2 h3 {
    width: 20rem !important;
    height: 3rem !important;
    margin-left: 60px !important;
    margin-top: 20px !important; }
  .textoNoticia2 p {
    text-align: left !important;
    margin-top: 20px !important;
    margin-left: 60px !important; }
  .textoNoticia2 a {
    margin-top: 45px !important;
    margin-left: 60px !important; }
  .fotoNoticia2 {
    margin-top: 30px; }
  .textoNoticia3 h3 {
    margin-left: 60px !important; }
  .textoNoticia3 p {
    margin-left: 60px !important; }
  .textoNoticia3 a {
    margin-left: 60px !important; } }

@media (max-width: 575.98px) {
  #noticias h2 {
    margin-left: 10px;
    font-size: 1.3em; }
  .textoNoticia1 {
    margin-top: 30px; }
    .textoNoticia1 h3 {
      width: 100% !important;
      margin-left: 0px !important; }
    .textoNoticia1 p {
      width: 100% !important;
      margin-left: 0px !important;
      margin-top: 30px !important; }
    .textoNoticia1 a {
      margin-left: 0px !important; }
  .fotoNoticia1 {
    width: 100% !important;
    height: auto !important;
    margin: 0px !important; }
  .textoNoticia2 h3 {
    width: 100% !important;
    height: 3rem !important;
    margin-left: 0px !important; }
  .textoNoticia2 p {
    width: 100% !important;
    height: 6rem;
    text-align: left !important;
    margin-top: 20px !important;
    margin-left: 0px !important; }
  .textoNoticia2 a {
    margin-top: 45px !important;
    margin-left: 0px !important;
    margin-bottom: 30px !important; }
  .textoNoticia3 h3 {
    margin-left: 0px !important; }
  .textoNoticia3 p {
    width: 100% !important;
    margin-left: 0px !important; }
  .textoNoticia3 a {
    margin-left: 0px !important; } }

.contenedorMain {
  margin-bottom: 30px; }
  .contenedorMain h1 {
    font-size: 2.5em;
    margin-top: 25px;
    margin-bottom: 30px; }
  .contenedorMain p {
    font-size: 1.15rem;
    font-weight: 400;
    color: #000000; }
    .contenedorMain p span {
      font-weight: 600; }
  .contenedorMain iframe {
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  .contenedorMain .fotoBiografia {
    width: 22.844rem;
    height: 35.281rem;
    margin-left: 11rem;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  .contenedorMain .bioTexto1 {
    margin-bottom: 50px; }
  .contenedorMain .bioTexto2 {
    width: 90%;
    margin-top: 75px; }
  .contenedorMain .bioTexto4 {
    margin-top: 70px;
    width: 90%; }
  .contenedorMain .logoUca {
    height: 100px;
    margin-left: 200px; }
  .contenedorMain .logoJA {
    height: 140px;
    margin-left: 30px; }
  .contenedorMain .bioTextoSeparador {
    text-align: center;
    margin-top: 30px; }
  .contenedorMain .imgLibro {
    height: 350px; }
  .contenedorMain .bioTexto5 {
    margin-top: 115px; }
  .contenedorMain .bioTexto6 {
    margin-top: 100px;
    width: 90%; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .fotoBiografia {
    margin-left: 5rem !important; }
  .contenedorMain iframe {
    width: 100%; }
  .bioTexto2 {
    margin-top: 30px; }
  .logoUca {
    margin-left: 130px !important; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  .bioTexto1 {
    margin-bottom: 5px !important; }
  .fotoBiografia {
    margin-left: 0px !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 85px !important; }
  .contenedorMain iframe {
    width: 100%; }
  .bioTexto2 {
    margin-top: 0px !important; }
  .logoUca {
    margin-left: 55px !important; }
  .bioTexto4 {
    margin-top: 30px !important; } }

@media screen and (min-width: 576px) and (max-width: 768px) {
  .fotoBiografia {
    margin-left: 0px !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 0px !important;
    margin-bottom: 30px; }
  .contenedorMain iframe {
    width: 100% !important; }
  .bioTexto2 {
    width: 100% !important;
    margin-top: 10px !important; }
  .bioTextoSeparador {
    font-size: 1rem !important;
    font-weight: 300; }
  .bioTexto4 {
    margin-top: 20px !important;
    width: 100% !important; }
  .bioTexto5 {
    margin-top: 20px !important; }
  .bioTexto6 {
    width: 100% !important;
    margin-top: 30px !important; } }

@media screen and (max-width: 576px) {
  .fotoBiografia {
    margin-left: 0px !important;
    width: 100% !important;
    height: auto !important;
    margin-top: 0px !important;
    margin-bottom: 30px; }
  .contenedorMain iframe {
    width: 100% !important; }
  .bioTexto2 {
    width: 100% !important;
    margin-top: 10px !important; }
  .bioTextoSeparador {
    font-size: 1rem !important;
    font-weight: 300; }
  .bioTexto4 {
    margin-top: 20px !important;
    width: 100% !important; }
  .bioTexto5 {
    margin-top: 20px !important; }
  .bioTexto6 {
    width: 100% !important;
    margin-top: 30px !important; }
  .logoUca {
    margin-left: 50px !important; }
  .logoJA {
    margin-left: 80px !important; } }

#obras h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 20px; }

.contenedor {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around; }

.disco {
  width: 350px;
  height: 350px;
  margin: 30px;
  box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }

#libro {
  color: #000000;
  margin-top: 1rem;
  margin-bottom: 30px; }
  #libro h2 {
    font-weight: 400;
    font-size: 2.5rem;
    width: 18.438rem;
    height: 7.25rem; }
  #libro p {
    width: 90%;
    height: auto;
    font-weight: 300; }
  #libro button {
    width: 7.125rem;
    height: 1.75rem;
    border-radius: 14px;
    margin-right: 10%;
    border-color: #9A031E;
    color: #9A031E; }
  #libro button:hover {
    background-color: #9A031E;
    color: #ffffff; }
  #libro img {
    width: 335px;
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }

@media (min-width: 992px) {
  .disco {
    width: 200px;
    height: 200px; } }

@media (max-width: 991.98px) {
  #libro h2 {
    margin-top: 30px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  #libro img {
    margin-left: 360px; } }

#shows {
  margin-bottom: 30px; }
  #shows h1 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 40px; }
  #shows p {
    font-weight: 300;
    display: inline;
    font-size: 1.25rem; }
  #shows a {
    display: inline; }
  #shows button {
    width: 7.125rem;
    height: 1.75rem;
    border-radius: 14px;
    border-color: #9A031E;
    color: #9A031E;
    display: inline-block;
    transition: 0.2s;
    text-align: center; }
  #shows button:hover {
    color: #ffffff;
    background-color: #9A031E; }

.contenedorFlex {
  justify-content: space-evenly;
  height: auto;
  width: auto; }
  .contenedorFlex div {
    margin-left: 70px; }
    .contenedorFlex div p {
      margin-right: 5px; }

.fotoShows {
  height: 28.125rem;
  width: 18.75rem;
  box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }

@media screen and (max-width: 1200px) {
  #shows p {
    font-size: 1rem; } }

@media screen and (min-width: 768px) and (max-width: 992px) {
  #shows button {
    margin-left: 55px;
    margin-top: 10px; }
  .fotoShows {
    width: 100% !important;
    margin-top: 50px; } }

@media screen and (max-width: 768px) {
  .fotoShows {
    margin-left: 100px;
    margin-top: 30px; } }

@media screen and (max-width: 576px) {
  .fotoShows {
    margin-left: 0px;
    width: 100% !important;
    height: auto !important; } }

.title {
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 30px;
  margin-bottom: 20px; }

#galeriaFotos {
  margin-top: 30px;
  margin-bottom: 30px; }

#galeriaVideos {
  margin-bottom: 30px; }
  #galeriaVideos iframe {
    box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73); }
  #galeriaVideos p {
    margin-top: 20px; }

.fotoFondo {
  width: 100%; }

#formulario {
  color: #ffffff;
  height: auto;
  background-image: url(../imagenes/fondocontactos.jpg);
  background-size: 100% auto; }
  #formulario h1 {
    margin: 30px auto;
    font-weight: 400;
    font-size: 2.5rem; }

.nombreF {
  width: 100%;
  height: 2.813rem;
  border-radius: 14px; }

.emailF {
  width: 100%;
  height: 2.813rem;
  border-radius: 14px; }

.asuntoF {
  width: 100%;
  height: 2.813rem;
  border-radius: 14px; }

.consultaF {
  border-radius: 14px;
  height: 18.375rem;
  width: 100%; }

.botonF {
  width: 7.125rem;
  height: 1.75rem;
  border-radius: 14px;
  border-color: #9A031E;
  color: #9A031E;
  transition: 0.2s;
  margin-top: 20px;
  margin-bottom: 40px; }

.botonF:hover {
  background-color: #9A031E;
  color: #ffffff; }

@media (max-width: 767.98px) {
  .nombreF {
    margin-bottom: 30px; }
  .emailF {
    margin-bottom: 30px; }
  .asuntoF {
    margin-bottom: 30px; } }

@media (max-width: 1094px) {
  #formulario {
    background-image: url(../imagenes/fondocontactos.jpg);
    background-size: auto 100%; } }
