header h1{
    font-weight: 400;
}
.navbar-brand{
    font-size: 25px;
}

.headerBoot{
    box-shadow: 0px 2px 3px;
}

footer{
    color: $blanco;
    height: auto;
    background-color: $azulo;
    p{
        font-size: 0.6em;
        height: 2rem;
        margin-top: 10px;
        margin-bottom: 0;
    }
    li{
        list-style-type: none;
        display: inline-block;
        margin: 0px 35px;
        margin-top: 1.5rem;
        a{
            color: $blanco;
        }
    }
    i:hover{
        color:$grisc;
    }
}

@media screen and (max-width: 576px) {
    footer li{
        margin: 0px 15px;
        margin-top: 1.5rem;
        display: inline-block;
        list-style-type: none;
    }
}