#noticias{
    background-color: $blanco;
    
    h2{
        font-weight: 400;
        font-size: 2.3rem;
        color: $negro;
        margin: 20px  auto;
        margin-bottom: 0;
    }
    
    p{
        color: $gris;
        font-size: 0.625em;
        font-weight: 400;
    }
    
    a{
        font-size: 0.625em;
        color: $rojo;
    }
    
    .noticia1{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .textoNoticia1{
        h3{
            color: $negro;
            font-size: 1.25em;
            font-weight: 400;
            width: 26.938rem;
            height: 5.5rem;
        }
        p{
            width: 23rem;
            height: 2.938rem;
            margin-left: 60px;
        }
        a{
            margin-left: 60px;
        }
    }
    
    .textoNoticia2{
        h3{
            color: $negro;
            font-size: 1.875rem;
            font-weight: 400;
            width: 30.063rem ;
            height: 2.688rem ;
            margin: 0; 
            margin-top: 94px;
        } 
        p{
            width: 19.688rem;
            height: 4.3rem;
            text-align: right;
            margin-top: 30px;
            margin-left: 115px;
        }
        a{
            margin-top: 45px;
            margin-left: 372px;
        }
    }
    
    .noticia3{
        margin-top: 20px;
        margin-bottom: 30px;
        h3{
            color:$negro;
            font-size: 1.875rem;
            font-weight: 400;
            width: 19.688rem;
            height: 2.688rem;
            margin: 0; 
            margin-top: 68px ;
        }
        p{
            width: 19rem;
            height: 2.938rem;
            margin-left: 60px;
            margin-top: 20px;
        }
        a{
            margin-left: 60px;
            margin-top: 20px;
        }
    }
    
    .fotoNoticia1{
        width: 26.875rem;
        height: 13.313rem;
        margin-left: 110px;
        box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
    }
    
    
    .fotoNoticia2{
        width: 304px;
        height: 380px;
        box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
    }
    
    
    .fotoNoticia3{
        width: 26.906rem;
        height: 17.875rem;
        box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
    }
}

.divisorYt {
    background-color: $blanco;
    color: $negro;
    margin-bottom: 30px;
    iframe {
        box-shadow: 2px 7px 11px 1px rgba(0, 0, 0, 0.73);
    }
    p {
        font-size: 0.8em;
        margin-top: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .textoNoticia1{
        h3{
            font-size: 1.25em;
            font-weight: 400;
            width: 26.938rem;
            height: 5.5rem;
        }
        p{
            width: 23rem;
            height: 2.938rem;
            margin-left: 30px;
        }
        a{
            margin-left: 30px;
        }
    }
    .fotoNoticia1{
        width: 26.875rem;
        height: 13.313rem;
        margin-left: 0px !important;
        box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
    }
    .textoNoticia2{
        h3{
            font-size: 1.5rem !important;
            font-weight: 400;
            width: 25rem ;
            height: 3.5rem ;
            margin: 0; 
            margin-top: 30px;
        } 
        p{
            width: 19.688rem;
            height: 4.3rem;
            text-align: right;
            margin-top: 30px;
            margin-left: 115px;
        }
        a{
            margin-top: 45px;
            margin-left: 372px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px){   
    .textoNoticia1{
        h3{
        font-size: 1em !important;
        width: 22rem !important;
        height: auto;
        }
        p{
        width: 20rem !important;
        height: auto !important;
        margin-left: 20px !important;
        }
        a{
        margin-left: 20px !important;
        }
    }
    
    .fotoNoticia1{
        width: 100% !important;
        height: auto !important;
        margin-left: 0px !important;
    }
    
    .textoNoticia2{
        h3{
            width: 20rem !important ;
            height: 3rem !important;
            margin: 0; 
            margin-top: 94px;
        } 
        p{
            width: 20rem;
            height: 6rem;
            text-align: left !important;
            margin-left: 0px !important;
        }
        a{
            margin-top: 45px;
            margin-left: 0px !important;
        }
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .textoNoticia1{
        margin-top: 30px !important;
        h3{
            color: $negro;
            font-size: 1em;
            font-weight: 400;
            width: 26.938rem;
            height: 5.5rem;
            margin-left: 60px !important;
        }
        p{
            width: 23rem;
            height: 2.938rem;
            margin-left: 60px !important;
            margin-top: 20px;
        }
        a{
            margin-left: 60px !important;
        }
    }
    
    .fotoNoticia1{
        width: 100% !important;
        height: auto !important;
        margin-left: 0px !important;  
    }
    
    .textoNoticia2{
        h3{
            width: 20rem !important ;
            height: 3rem !important;
            margin-left: 60px !important;
            margin-top: 20px !important;
        } 
        p{
            text-align: left !important;
            margin-top: 20px !important;
            margin-left: 60px !important;
        }
        a{
            margin-top: 45px !important;
            margin-left: 60px !important;
        }
    }

    .fotoNoticia2{
        margin-top: 30px;
    }
    
    .textoNoticia3{
        h3{
            margin-left: 60px !important;
        }
        p{
            margin-left: 60px !important;
        }
        a{
            margin-left: 60px !important;
        }
    }

}

@media (max-width: 575.98px) {
    #noticias{
        h2{
            margin-left: 10px;
            font-size: 1.3em;
        }
    }
    
    .textoNoticia1{
        margin-top: 30px;
        h3{
            width: 100% !important;
            margin-left: 0px !important;
        }
        p{
            width: 100% !important;
            margin-left: 0px !important;
            margin-top: 30px !important;
        }
        a{
            margin-left: 0px !important;
        }
    }
    
    .fotoNoticia1{
        width: 100% !important;
        height: auto !important;  
        margin: 0px !important;
    }
    
    .textoNoticia2{
        h3{
            width: 100% !important ;
            height: 3rem !important;
            margin-left: 0px !important;
        } 
        p{
            width: 100% !important;
            height: 6rem;
            text-align: left !important;
            margin-top: 20px !important;
            margin-left: 0px !important;
        }
        a{
            margin-top: 45px !important;
            margin-left: 0px !important;
            margin-bottom: 30px !important;
        }
    }
    
    .textoNoticia3{
        h3{
            margin-left: 0px !important;
        }
        p{
            width: 100% !important;
            margin-left: 0px !important;
        }
        a{
            margin-left: 0px !important;
        }
    }
    
}

