#obras h1{
        font-weight: 400;
        font-size: 2.5rem;
        margin-top: 30px;
        margin-bottom: 20px;
}

.contenedor{
    flex-direction: row;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: space-around; 
}

.disco{
    width: 350px;
    height: 350px;
    margin: 30px;
    box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
}

#libro{
    color:$negro;
    margin-top: 1rem;
    margin-bottom: 30px;
    h2{
        font-weight: 400;
        font-size: 2.5rem;
        width: 18.438rem;
        height: 7.25rem;
    }
    p{
        width: 90%;
        height: auto;
        font-weight: 300;
    }

    button{
        width: 7.125rem;
        height: 1.75rem;
        border-radius: 14px;
        margin-right: 10%;
        border-color:$rojo;
        color: $rojo;
    }
    button:hover{
        background-color: $rojo;
        color: $blanco;
    }
    img{
        width: 335px;
        box-shadow: 2px 7px 11px 1px rgba(0,0,0,0.73);
    }
}

@media (min-width: 992px){
.disco{
    width: 200px ;
    height: 200px ;
}
}

@media (max-width: 991.98px) {
    #libro h2{
        margin-top: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    #libro img{
        margin-left: 360px;
    }
}
